$fontWeight: 300;

html,body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-weight: $fontWeight;
}
h1,h2,h3,h4,h5,h6{
    font-weight: $fontWeight;
}
textarea{
    display: block;
    border: none;
    resize: none;
    font-size: 1rem;
}
button{
    cursor: pointer;
}
small{
    display: block;
}
ul li{
    list-style-type: none;
}
.menu,.main-area{
    float: left;
}
.menu{
    width: 25%;
    position: fixed;
    height: 100%;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.25);
    .title{
        margin-bottom: 0;
    }
    .subhead{
        color: gray;
        margin-top: 10px;
    }
    textarea{
        width: 100%;
        min-height: 100px;
        margin: 30px 0;
    }
    .menu-body{
        padding: 15px;
    }
}

#add{
    padding: 10px 25px;
    border: none;
    background: #a7fbff;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.4s all;

    &:hover, &:focus{
        background: #9be9ec;
    }
}
#trash-all{
    padding: 10px 25px;
    border: none;
    background: #ff3f4b;
    text-transform: uppercase;
    margin-top: 10px;
    color: #fff;
    transition: 0.4s all;

    &:hover, &:focus{
        background: #e82e3a;
    }
}
.main-area{
    width: 75%;
    margin-left: 25%;
    .main-body{
        width: 65%;
        padding: 15px;
    }
}
.note{
    width: 100%;
    padding: 8px;
    position: relative;
    margin: 25px 0;
    background: #90f7af;
    border-radius: 8px;
    transition: 0.4s all;
    animation: fadeIn 0.75s linear;

    textarea{
        width: 70%;
        min-height: 20px;
        background: inherit;
    }

    .btn-container{
        position: absolute;
        top: 5px;
        right: 5px;

        .delete-btn{
            background: #ff3f4b;
            color: #fff;
            border-radius: 5px;
        }
    }
}
.author{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
